/** VAR **/
:root {
  --primary : hsl(240, 78%, 68%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 13%);
  --black-light: hsl(0, 0%, 60%);
  --grey: hsl(0, 0%, 95%);
  --green: hsl(130, 51%, 49%);
  --red: hsl(0, 64%, 40%);

  /** Font-size **/
  --title: 2rem;
  --L : 1.5rem;
  --labor: 1rem;
}

header {
  background-color:var(--primary);
  max-width: 100%;
  padding: 1rem;
  font-size: var(--L);
}

header ul  {
  max-width: 1400px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

header ul a {
  text-decoration: none;
  color: var(--white);
}

.active a {
  color: var(--black);
}

h1 {
  max-width: max-content;
  margin: 2rem auto;
}

/** Page Article **/
.articles-list {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 2rem;
list-style: none;
}

.articles-list li.article {
max-width: 247px;
background-color: var(--grey);
border-radius: 8px;
overflow: hidden;
display: flex;
flex-direction: column;
padding-bottom: 1rem;
box-shadow: 1px 1px 5px  var(--black-light);
}

.articles-list li h2,
.articles-list li p,
.articles-list li a {
padding: .875rem;
}

.articles-list li p {
margin-top: auto;
}

.articles-list li a {
max-width: max-content;
padding: 8px;
text-decoration: none;
margin: auto 8px 0 auto;
background-color: var(--primary);
border-radius: 8px;
color: var(--white);
font-weight: bold;
}

/**Ajout quand connecté **/
.articles-list li .edit-link {
 background-color: var(--green);
}

.articles-list li .delete-link {
  background-color: var(--red);
}

.article li {
  list-style: none;
}

.admin-nav ul {
  max-width: max-content;
  margin: 2rem auto;
  padding: 0;
  display: flex;
}

/* Page article Single */
.article-content {
  margin: 0 auto;
  max-width: 50ch;
}

form {
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  background-color: var(--primary);
  color: var(--white);
  margin-top: 1rem;
}

.error {
  max-width: max-content;
  margin: 1rem auto;
  padding: 8px;
  background-color: var(--red);
  color: var(--white);
}

.create-post {
  display: block;
  max-width: max-content;
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem;
  margin: 2rem auto;
  text-decoration: none;
}

/** Edit page **/
form.edit-form {
  padding-top: 3rem;
}

form.edit-form input {
  margin-bottom: 2rem;
}